[Desktop Entry]
Type=Link
URL=http://www.ngenespanol.com/naturaleza/animales/15/08/27/Porque-los-escarabajos-peloteros-observan-el-cielo-mientras-hacen-rodar-sus-bolas-de-estiercol/