[Desktop Entry]
Type=Link
URL=http://www.corbion.com/food/confectionery/brands/%C3%A1cidos-en-polvo-purac-m%C3%A1xima-estabilidad-y-acidez-de-larga-duraci%C3%B3n?utm_source=industria-alimenticia-news&utm_medium=eNews&utm_campaign=LATAM-confectionery&utm_term=CTA&utm_content=ad2