[Desktop Entry]
Type=Link
URL=http://www.anidigrafavanza.com/index.php/entry/por-que-imprimimos-con-colores-secundarios-cyan-magenta-y-amarillo-y-no-primarios-rojo-verde-y-azul